<!-- <cronos-button-action></cronos-button-action> -->

<div class="row">
	<div class="col-md-12" ba-panel ba-panel-class="with-scroll">

	    <button ng-show="insertModule" id="insertModule" title="New Upload" ng-click="modalAdd()"  class="btn btn-info btn-icon"><i class="fa fa-upload"></i></button>
		
		<!-- <button ng-show="editRole" title="Edit Role" ng-click="modalEdit()" class="btn btn-success btn-icon"><i class="fa fa-pencil-square-o"></i></button>
	    <button ng-click = "modalDelete()" title="Delete Role" ng-show="deleteRole" class="btn btn-danger btn-icon"><i class="fa fa-trash-o"></i></button> -->

	</div>
</div>

	<div class="row">
	<div class="col-md-12">
	  <div ba-panel ba-panel-class="with-scroll">
	    <div class="horizontal-scroll">
	      	<table id="table-group" data-dt-table="dtConfig" data-dt-data="dtData" data-click-me="clickMe(selected, data)" class="display" selected-row="selectedRow(selected, tableData)"></table>

	    </div>
	    <button style="float: right;" type="submit" title="RestartService" class="btn btn-danger btn-xs" ng-click="restartService()" >Restart Service Setting</button>

	    <button type="submit" title="InstallPatch" class="btn btn-info btn-xs" ng-click="patchProcess()" >Install Patch</button>
	  </div>
	</div>
</div>