<tr> 
    <td width="90%">
        <div class="form-horizontal" style="padding-top: 4%;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Module</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Branch</label>
                <div class="col-sm-10">
                    <input type="text" tag-input="primary" data-role="tagsinput" placeholder="Add Tag" ng-model="branch">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <a class="btn btn-info editable-table-button btn-xs" ng-click="showBranch()">Branch List</a>
                </label>
            </div>                  
        </div>
    </td>
    <td width="10%" style="padding: 10% 0% 0% 3%;">
        <a class="btn btn-danger editable-table-button btn-xs" ng-click="Delete($event)">Delete</a>
    </td>
</tr>